.googlelogo {
  margin: auto;
  text-align: center;
  position: absolute;
  top: 197px;
  right: 100px;
  bottom: 270px;
  left: 100px;
}

.searchbar {
  margin: auto;
  text-align: center;
  position: absolute;
  top: 300px;
  right: 100px;
  bottom: 350px;
  left: 100px;
}

li{
  display: inline;
  float: right;
  padding: 8px;
  color: inherit;
}

a:link{
  font-size: 12px;
  font-family: serif;
  text-decoration: none;
  color: gray;
}

a:hover{
  font-size: 12px;
  font-family: serif;
  color: black;
}
